@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JAX KITESURFING</h1>
    <div><img src="~/Images/JAX_KITESURFING.png" style="height : 180px;width : 180px;" /></div>
    <div>
        <p>Learn more about <a href="https://www.instagram.com/jax.kitesurfing"> JAX KITESURFING</a></p>
    </div>
</div>
